{% trans_default_domain 'FOSUserBundle' %}

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">

                {% if error %}
                    <div class="alert alert-danger text-center">
                        <span style="text-align:center;color:red !important">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </div>
                {% endif %}
		      <form  action="{{ path("fos_user_security_check") }}" method="post" id="contactform" class="form-login">
		        <h2 class="form-login-heading">Connexion</h2>
		        <div class="login-wrap">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <input type="text"  value="{{ last_username }}" placeholder="Nom utilisateur ou Adresse Email" name="_username" class="form-control" required="required" autocomplete="username"  id="author-footer" tabindex="1"  size="32" aria-required="true" autofocus/><br/>
		            <br>
                    <input type="password" id="password" class="form-control" placeholder="Mot de passe " name="_password" required="required" autocomplete="current-password" tabindex="1" size="32" aria-required="true" /><br/>
                    <button type="submit" id="_submit" class="btn btn-theme btn-block" name="_submit" value="{{ 'security.login.submit'|trans }}">Connexion</button>
                    <!--
		            <hr>
                            <label class="checkbox">
                                <span class="pull-right">
                                    <a data-toggle="modal" data-html="true" href="{{ path('fos_user_resetting_request') }}"> Mot de passe oublié?</a>
                
                                </span>
                            </label>
		            
		           
		            <div class="registration">
		                Vous n'avez pas encore de Compte?<br/>
		                <a class="" href="#">
		                    Créer un Compte
		                </a>
		            </div>-->
		
		        </div>
    
    





		
		      </form>	  	
    <!-- Modal Forgotten-pwd-->
    <div id="Forgotten-pwd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-user-Label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.backstretch.min.js') }}"></script>
    <script>
        $.backstretch("{{ asset('assets/img/login-bg.jpg') }}", {speed: 500});
    </script>